.PRETO {
  background-color: black;
}

.VERMELHO {
  background-color: darkred;
}

.LARANJA {
  background-color: orangered;
}

.AMARELO {
  background-color: goldenrod;
}

.VERDE {
  background-color: lightgreen;
}

.AZUL {
  background-color: lightskyblue;
}

.ROXO {
  background-color: indigo;
}

.ROSA {
  background-color: magenta;
}

.MARROM {
  background-color: sienna;
}

.AQUA {
  background-color: aqua;
}



.BORDA {
  border: 1px solid brown;
}

.FONTE-BRANCA {
  color: white
}
.ALTURA {
  height: 250px
}
