.PRETO {
  background-color: black;
}

.VERMELHO {
  background-color: red;
}

.AMARELO {
  background-color: yellow;
}

.VERDE {
  background-color: green;
}

.AZUL {
  background-color: blue;
}

.ROXO {
  background-color: purple;
}

.ROSA {
  background-color: hotpink;
}

.BORDA {
  border: 1px solid brown;
}

.FONTE-BRANCA {
  color: white
}
.ALTURA {
  height: 250px
}
